* {
    margin: 0;
    font-family: Open Sans;
}

.btn-primary {
    padding: 18px 36px;
    color: #FFFFFF;
    background: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    border: 0;

}

.btn-2 {
    padding: 18px 36px;
    color: #FD6E0A;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    border: 2px solid #FD6E0A;
}

header {
    background-color: #FFF8F3;
    background-image: url(/images/header_bg.png), url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* navbar css */
.logo-text {
    font: weight 800px;

    font-size: 45px;
}

.primary-color {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-left: 230px;
    margin-right: 230px;
    padding-top: 51px;
}

nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav>ul>li {

    font-size: 20px;
    margin-left: 51px;
}

/* banner css */
.banner-container {
    display: flex;
    align-items: center;
    margin-left: 230px;
    margin-top: 47px;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-description {
    font-size: 18px;
}

.banner {
    width: 585px;
    margin-right: 100px;
}

.btn-container {
    margin-top: 30px;
}


/* style for main */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about me section */

.aboutme {
    padding: 131px 157px;
    background: #FFF8F3;
    border-radius: 10px;
    margin-top: 130px;
    \

}

.aboutme>p {
    margin: 30px 0;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    text-align: center;
}

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}

.contact-container {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.contact-head {
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}

.contact-info {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do section */
.what-I-do-container {
    margin-top: 130px;
}

.what-i-do {
    text-align: center;
    max-width: 909px;
    margin: 0 auto;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
    margin-top: 130px;
}

.w-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}

/* skills on whhat i do section */

.s-container {
    width: 267px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;

}

.skills {
    display: flex;
    column-gap: 24px;
    margin-top: 50px;
}

.skill-container {
    padding: 30px;
}

.marginb-30 {
    margin-bottom: 30px;
}

.skill-heading {
    font-weight: 700;
    font-size: 20px;
    color: #181818;

}

/* resume styles*/

.resume-container {
    display: flex;
    gap: 30px;
}

.resume-ft {
    margin-bottom: 113px;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.resumi-info-title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resumi-info-sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}

.resume-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    margin-top: 20px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-top: 30px;
}

.resume-info-container {
    margin-top: 30px;
}

.resume-button {
    margin-top: 50px;
    text-align: center;
}